<?xml version="1.0" encoding="utf-8"?>
<odoo>
    
    <!-- Main AMS Menu -->
    <menuitem id="menu_ams_main" 
              name="AMS" 
              sequence="50"/>
    
    <!-- Subscriptions Menu -->
    <menuitem id="menu_ams_subscriptions" 
              name="Subscriptions" 
              parent="menu_ams_main"
              sequence="10"/>
    
    <!-- Subscription Actions -->
    <record id="action_ams_subscription" model="ir.actions.act_window">
        <field name="name">Subscriptions</field>
        <field name="res_model">ams.subscription</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="view_subscription_tree"/>
        <field name="search_view_id" ref="view_subscription_search"/>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first AMS subscription!
            </p>
            <p>
                Track member subscriptions, renewals, and expiration dates.
            </p>
        </field>
    </record>
    
    <menuitem id="menu_ams_subscription_all" 
              name="All Subscriptions" 
              parent="menu_ams_subscriptions"
              action="action_ams_subscription"
              sequence="10"/>

</odoo>